.app-container {
    text-align:center;
    padding: 2rem;
}

.box {
    width: 100px;
    height: 100px;
    margin: 2 rem auto;
    background-color:#6c63ff;
    border-radius:10px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.box.animate {
    opacity: 1;
    transform: transflateY(0);
}